* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #8f929b; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #3f424d; 
  }

/* Google Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

/* CSS varibles */
:root {
    /* Text colors*/
    --primary-text: #1D2130;
    --secondary-text: #525560;

    /* Text hover */
    --nav-hover-text: #0B0706;

    /* Button text colors */
    --primary-button-text: #fff;
    --secondary-button-text: #1D2130;

    /* Button bg colors */
    --nav-button-bg: #1D2130;
    --primary-button-bg: #70C174;
    --secondary-button-bg: #fff;

    /* Border radius */
    --btn-border-radius: 4px;
    --image-border-radius: 12px;
}

/* Core styles */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.section-title {
    display: flex;
    align-items: center;
    color: var(--primary-text);
    position: relative;
}

.section-title .introdaction {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-title .line {
    width: 72px;
    height: 2px;
    background-color: var(--primary-text);
    margin-right: 24px;
    position: absolute;
    left: -96px;
}

.line-left {
    width: 72px;
    height: 2px;
    background-color: #1D2130;
    display: inline-block;
    margin-right: 24px;
}


.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: var(--primary-text);
}

.section-text {
    color: var(--secondary-text);
    line-height: 26px;
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.header-left {
    font-size: 40px;
    font-weight: 500;
    color: var(--primary-text);
    white-space: nowrap;
    margin-right: 24px;
}

.line-right {
    width: 100%;
    border: 1px solid #E5E5E5;
}

.button {
    font-family: 'Roboto', sans-serif;
    padding: 12px 32px;
    border-radius: var(--btn-border-radius);
    background-color: var(--nav-button-bg);
    color: var(--primary-button-text);
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.link-btn {
    display: inline-block;
    background-color: #fff;
    color: var(--primary-text);
    backdrop-filter: blur(80px);
}

.section-btn {
    display: inline-block;
    background-color: var(--primary-button-bg);
    color: #fff;
    backdrop-filter: blur(80px);
}

.to-uppercase {
    text-transform: uppercase;
    font-weight: 500;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*  Header styles*/
.main-header {
    padding: 12px 0;
    position: fixed;
    width: 100%;
    background-color: #EFF7F2;
    z-index: 111;
}

.main-header .container{
    display: flex;
    align-items: center;
}

.main-navigation {
    margin-left: auto;
}

.main-navigation__items {
    display: flex;
}

.main-navigation__items li {
    margin-right: 40px;
}

.main-navigation__items a {
    color: var(--secondary-text);
    font-weight: 500;
}

.main-navigation__items a:hover {
    color: var(--nav-hover-text);
}

/* Hero styles */
#hero {
    padding: 162px 0 96px 0;
    background-color: #EFF7F2;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-info {
    max-width: 724px;
}

.hero-info__text {
    padding-left: 96px;
}

.hero-info .title {
    margin: 32px 0 16px;
}

.hero-info .section-text {
    margin-bottom: 32px;
    padding-right: 20px;
}

.hero-wrapper .hero-img img{
    border-radius: var(--image-border-radius);
}

/* Contribute styles*/
.contribute .container {
    padding: 96px 0;
    border-bottom:  1px solid #E5E5E5;
}

.contribute-wrapper {
    display: flex;
    justify-content: space-between;
}

.contribute-wrapper > div {
    width: 45%;
    color: var(--secondary-text);
}

.contribute-wrapper p {
    line-height: 26px;
}

.contribute-wrapper__left .title {
    font-size: 42px;
    margin-bottom: 24px;
}

.contribute-wrapper__right .list-items{
    display: flex;
    margin-bottom: 24px;
}

.list-items li {
    padding: 0 24px 8px;
    font-weight: 500;
    border-bottom: 1px solid #E5E5E5;
}

.contribute-wrapper__right .active {
    color: var(--primary-text);
    border-bottom: 2px solid #70C174;
}

/* Usage styles */
#usage {
    padding-top: 96px;
}

.usage-wrapper{
    display: flex;
    justify-content: space-between;
}

.usage-wrapper > div {
    width: 30%;
    color: var(--secondary-text);
}

.usage-title .title {
    font-size: 42px;
}

.usege-text__center, .usage-text__right {
    line-height: 26px;
}

/* Volunteer styles*/
.volunteer {
    padding: 96px 0; 
    text-align: center;
}

.volunteer .container {
    padding: 92px 0;
    background: url('../assets/images/environment.jpg') no-repeat center center;
    background-size: cover;
}

.volunteer .volunteer-info {
    max-width: 630px;
    margin: 0 auto;
}

.volunteer-info .title {
    color: #fff;
}

.join-volunteer {
    display: inline-block;
    margin: 32px 32px 0 0;
    background-color: var(--primary-button-bg);
}

.volunteer .donate-btn {
    background-color: #fff;
    color: var(--primary-text);
}

/* Footer styles */
.footer {
    padding: 96px 0;
    background-color: #0B0706;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-logo path{
    fill: #fff;
}

.footer .footer-info {
    display: flex;
    justify-content: space-between;
    width: 30%;

}

.footer-subscribe {
    width: 40%;
}

.team li, .more li, .connect li {
    margin-top: 24px;
}

.team a, .more a, .connect a {
    color: #fff;
    opacity: 0.78;
    font-size: 14px;
}

.footer-subscribe .title {
    color: #fff;
    line-height: 56px;
    font-style: 40px;
    margin-bottom: 32px;
}

.footer-subscribe .email-wrapper {
    display: flex;
    height: 64px;
    border: 1px solid rgba(235, 240, 249, 0.3);
    border-radius: var(--btn-border-radius);
    
}

.email-wrapper #email, .footer-subscribe .send-btn {
    border: none;
    outline: none;
    border-radius: var(--btn-border-radius);
}  

.email-wrapper #email {
    padding-left: 24px;
    background-color: transparent;
    width: 100%;
}

.footer-subscribe .send-btn {
    padding: 22px 32px;
    cursor: pointer;
    font-size: 16px;
    color: var(--primary-text);
    font-family: "Roboto", sans-serif;
}

.email-wrapper input[placeholder] {
    color: #fff;
    opacity: 0.78;
    font-size: 14px;
}